{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block shipping_address %}
                 <div class="well well-info span6">
                    <h4>{% trans "Payment details" %}</h4>
                    {% if billing_address %}
                    {% trans "Billing address" %}:
                    <address>
                        {% for field in billing_address.active_address_fields %}
                            {{ field }}<br/>
                        {% endfor %}
                    </address>

                    {% endif %}
                    <div class="alert-actions">
                        <a href="{% url 'cashondelivery:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
                    </div>
                </div>
{% endblock shipping_address %}
{% block payment_method %}
                <div class="well well-success span6">
                    <h4>{% trans "Payment method" %}</h4>
                    <p>{% trans "Cash on Delivery" %}</p>
                    <div class="alert-actions">
                        <a href="{% url 'checkout:payment-method' %}" class="btn">{% trans "Change payment method" %}</a>
                    </div>
                </div>
{% endblock payment_method %}

{% block place_order %}
    <form method="post" action="{% url 'cashondelivery:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        {% comment %}
            When submitting sensitive data on the payment details page (eg a bankcard)
            we don't want to save the data and so we pass the bound form to the preview
            template and render it in a hidden div.  Then the payment information will
            get re-submitted when the user confirms the order.
        {% endcomment %}
        <div style="display:none">
            {% block hiddenforms %}{% endblock %}
        </div>

        <div class="form-actions clearfix">
            <div class="row-fluid">
                <div class="span3 offset9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-large btn-block js-disable-on-click" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
